.container {
  position: absolute;
  border: 1px solid map(colors, primary, xdark);
  transform: translate(-50%, 20%);
  background-color: #fff;
  padding: 0.25em 1em;
  border-radius: 0.3em;
  width: 160px;
  text-align: center;
  pointer-events: none;
}