.container {
  font-family: map(fonts, family-sans);
  font-size: 16px;
  display: block;
  position: relative;

  p {
    font-size: 1em !important;

    @media only screen and (max-width: 500px) {
      font-size: 14px !important;
    }
  }
}

.graphic {
  position: relative;
}

.legend {
  list-style: none;
  padding: 0;
  float: right;
  text-align: right;

  &__circle {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    border-radius: 100%;
  }
}

.color {
  &__red {
    background-color: map(colors, productos, caribe);
  }

  &__yellow {
    background-color: map(colors, productos, santander);
  }
}