.container {
  position: relative;
}

.canvas {
  display: block;
}

.person {
  stroke-width: 2;

  &--left {
    stroke: map(colors, productos, caribe);
  }

  &--center {
    stroke: map(colors, productos, caribe);
  }

  &--right {
    stroke: map(colors, productos, santander);
  }
}

.connection {
  stroke: map(colors, secondary, dark);
  stroke-width: 1;
  transition: .15s stroke-width;

  &:hover {
    stroke-width: 3;
  }

  &__center {
    stroke: map(colors, productos, caribe);
  }
}

.person--has-content,
.connection {
  cursor: pointer;
}